<div class="contents row">
  <div class="container">
    <h3>登録する</h3>
    <%= form_with(model: @student, local: true) do |f| %>
      <%= f.label :name, '名前' %>
      <%= f.text_field :name, placeholder: "ヤマダ タロウ" %>
      <%= f.label :gender_id, '性別' %>
      <%= f.collection_select(:gender_id, Gender.all, :id, :name, {include_blank: '指定なし'}, {class:"new_f_id"}) %>
      <%= f.label :college_name, '大学名' %>
      <%= f.text_field :college_name, placeholder: "ステップ大学" %>
      <%= f.label :grade_id, '学年' %>
      <%= f.collection_select(:grade_id, Grade.all, :id, :name, {include_blank: '指定なし'}, {class:"new_f_id"}) %>
      <%= f.label :gakubu_name, '学部名' %>
      <%= f.text_field :gakubu_name, placeholder: "経営学部" %>
      <%= f.label :gakka_name, '学科名' %>
      <%= f.text_field :gakka_name, placeholder: "マーケティング学科" %>
      <%= f.label :circle_name, 'サークル名' %>
      <%= f.text_field :circle_name, placeholder: "サークル名" %>
      <%= f.label :graduation_id, '卒業年度' %>
      <%= f.collection_select(:graduation_id, Graduation.all, :id, :name, {include_blank: '指定なし'}, {class:"new_f_id"}) %>
      <%= f.label :prefecture_id, '現在の居住地' %>
      <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {include_blank: '指定なし'}, {class:"new_f_id"}) %>
      <%= f.label :intern_history_id, 'インターン勤続年数' %>
      <%= f.collection_select(:intern_history_id, InternHistory.all, :id, :name, {include_blank: '指定なし'}, {class:"new_f_id"}) %>
      <%= f.label :exp_occ, '経験職種' %>
      <%= f.text_field :exp_occ, placeholder: "営業, ライティング, webマーケティング" %>
      <%= f.label :industry_id, '希望業界' %>
      <%= f.collection_select(:industry_id, Industry.all, :id, :name, {include_blank: '指定なし'}, {class:"new_f_id"}) %>
      <%= f.label :sales_amount, '総売上高' %>
      <%= f.text_field :sales_amount, placeholder: "30000000" %>
      <%= f.label :qualification_name, '資格' %>
      <%= f.text_field :qualification_name, placeholder: "TOEC：800点, FP3級" %>
      <%= f.label :one_word, 'ひとこと' %>
      <%= f.text_field :one_word, placeholder: "明るくポジティブです！" %>
      <%= f.submit "SEND" %>
    <% end %>
  </div>
</div>