<div class="padding-block"></div>
<div class="page-heading">
  <p>企業一覧ページ</p><%= link_to '学生一覧へ', students_path %>
  <p class="text-alert" id="alert"><%= alert %></p>
</div>

<div class="search-form">
  <%= search_form_for @p, url: search_corp_users_path do |f| %>
    <%= f.label :feature_id_eq, '特徴' %>
    <%= f.collection_select :feature_id_eq, Feature.all, :id, :name, include_blank: '指定なし' %>
    <%= f.label :industry_id_eq, '業界' %>
    <%= f.collection_select :industry_id_eq, Industry.all, :id, :name, include_blank: '指定なし' %>
    <%= f.submit '検索' %>
  <% end %>
</div>

<div class="contents row">
  <% @corp_user.each do |corp_user| %>
    <%= link_to '詳細', corp_user_path(corp_user.id) %>
    <p class="student_content">名前：<%= corp_user.corp_name %></p>
    <p class="student_content">一言：<%= corp_user.feature.name %></p>
  <% end %>
</div>
