<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "corp_users/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :nickname, '担当者名' %><br />
    <%= f.text_field :nickname, autofocus: true, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :corp_name, '会社名'%><br />
    <%= f.text_field :corp_name, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :location, '勤務地' %><br />
    <%= f.text_field :location, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :staff_msg, 'スタッフからの一言' %><br />
    <%= f.text_area	 :staff_msg, autocomplete: "off" %>
  </div>

  <div class="field">
  <%= f.label :industry_id, '業界' %>
  <%= f.collection_select(:industry_id, Industry.all, :id, :name, {include_blank: '指定なし'}, {class:"new_f_id"}) %>
  </div>

  <div class="field">
  <%= f.label :feature_id, '会社の特徴' %>
  <%= f.collection_select(:feature_id, Feature.all, :id, :name, {include_blank: '指定なし'}, {class:"new_f_id"}) %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(変更するには、パスワードが必要です。)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "変更する" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
